.navbar {
    height: 10vh;
    width: 90%;
    padding-bottom: 0;
    margin: 0 auto 0 auto;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoLink {
    width: 14%;
    padding-top: 40px;
    width: 200px;
    height: 130px
}

.logo {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.linksList {
    list-style-type: none;
    width: 35%;
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 100px;
    transition: all 1s ease; /* Add transition for smoothness */
}
.links:hover{
    color: #EB4D1A;
}
.links {
    text-decoration: solid;
    font-size: 25px;
    font-weight: 500;
    color: #000;
}

.button1 {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none; /* Initially hidden */
}

/* Media query for screen width 1024px or below */
@media (max-width: 1024px) {
    .logoImage {
        height: 3rem;
        width: 100%;
    }

    .heroClass {
        margin-top: 7rem;
    }

    .linksList {
        display: none; /* Hide linksList */
        flex-direction: column; /* Make it column for dropdown */
        width: 100%; /* Full width for dropdown */
        background-color: transparent; /* Background color for dropdown */
        position: absolute; /* Absolute positioning */
        top: 12vh; /* Position below navbar */
        left: 0;
        right: 0;
    }

    .linksList.show {
        display: flex; /* Show linksList when dropdown is visible */
    }

    .button1 {
        display: block; /* Show button1 */
    }
}

/* Media query for screen width 1025px or above */
@media (min-width: 1025px) {
    .logoImage {
        width: 100%;
        height: 3.5rem;
    }

    .linksList {
        display: flex; /* Ensure linksList is displayed */
    }

    .button1 {
        display: none; /* Hide button1 */
    }
}
